<div class="row">
    <div class="col-12 header-container">
        <button class="btn btn-secondary" routerLink="/leftnav">Leftnav</button>
        <button class="btn btn-secondary" routerLink="/mainpage">Home</button>
        <button class="btn btn-secondary">About Us</button>
        <button class="btn btn-secondary">Products</button>
        <button class="btn btn-secondary">Contact Us</button>
        <button class="btn btn-secondary">Queries</button>
        <button class="btn btn-primary login" routerLink="loginform">login</button>
    </div>
