.leftnav{
    border: solid black 2px;
    background-color: rgb(99, 80, 212);
    color: white;
}
.mainContainer{
    border: solid rgb(13, 115, 124) 2px;
    background-color: aqua;
}
.rightnav{
    border: solid black 2px;
    background-color: rgb(15, 79, 38);
}
h4{
    margin-top: 50px;
}