<div class="row">
    <div class="col-sm-2 leftnav">
        <div><button class="btn btn-secondary" routerLink="home">Home</button></div>
        <div><button class="btn btn-secondary" routerLink="OurProducts">Our Products</button></div>
        <div><button class="btn btn-secondary" routerLink="LiveVideo">Live Video</button></div>
        <div><button class="btn btn-secondary" routerLink="Demo">Demo</button></div>
        <div><button class="btn btn-secondary" routerLink="ContactUs">Contact Us</button></div>
    </div>
    <div class="col-7 clm-7" ></div>
    <div class="col-2 clm-2" ></div>
</div>




