button
{
    margin-top: 30px;
    border: hidden;
    margin-left: 15px;
}
.leftnav
{
    background-color: purple;
    border: 2px solid black;
}
.clm-8
{
    border:2 px solid black;
}
.clm-2 
{
    border:2 px solid black;
}